.general-container {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin-top: 3%;
}

.container-users {
  border: 1px solid black;
  width: 95%;
  margin-left: 5%;
}

.container-users-photo {
  width: 13%;
  border: 1px solid black;
  margin-left: 2%;
}

.container-users-photo img {
  width: 80%;
  margin: auto;
}

.number-post {
  margin-left: 65%;
  margin-bottom: 5%;
}

.user-name {
  margin-left: 10%;
}

.container-show-users {
  display: flex;
  flex-direction: row;
  width: 90%;
}

.cont-photo-show-users {
  border: 1px solid black;
  width: 13%;
  margin-left: 2%;
}

.cont-name-numbers-post-show-users {
  border: 1px solid black;
  width: 95%;
  margin-left: 2%;
}

.cont-bio-show-users {
  border: 1px solid black;
  width: 88%;
  margin-left: 2%;
  margin-top: 3%;
}

.container-id-text-counter {
  border: 1px solid black;
  margin-top: 3%;
  width: 88%;
  margin-left: 2%;
}

.button-see-all-posts {
  margin-top: 3%;
  margin-left: 44%;
}

.container-photo-name-counter-post {
  display: flex;
  flex-direction: row;
  width: 90%;
}

.photo-post {
  border: 1px solid black;
  width: 13%;
  margin-left: 2%;
}

.name-post-counter-post {
  border: 1px solid black;
  width: 95%;
  margin-left: 2%;
}

.number-post-posts {
  margin-left: 65%;
  margin-bottom: 5%;
}

.user-name-posts {
  margin-left: 10%;
}

.number-post-posts-show {
  margin-left: 65%;
  margin-bottom: 5%;
}

.user-name-posts-show {
  margin-left: 10%;
}

.container-id-text-counter-posts {
  border: 1px solid black;
  margin-top: 3%;
  width: 88%;
  margin-left: 2%;
  padding-left: 3.5%;
  margin-bottom: 3%;
}

.number-counter-posts {
  margin-left: 65%;
  text-decoration: none;
}

.container-id-text-counter-show-posts {
  border: 1px solid black;
  margin-top: 3%;
  width: 88%;
  margin-left: 2%;
  padding-left: 3.5%;
  margin-bottom: 3%;
}

.container-recent-coment-show-posts {
  border: 1px solid black;
  margin-top: 3%;
  width: 88%;
  margin-left: 2%;
  padding-left: 3.5%;
  margin-bottom: 3%;
}

.number-counter-show-posts {
  margin-left: 65%;
}

.form-create-like {
  margin-left: 46%;
  margin-top: 2%;
}
